<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mensa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>it.mensa.app.stripe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mensa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Mensa Italia chiede accesso al tuo calendario per aggiungere eventi che ti interessano.</string>
	<key>NSCameraUsageDescription</key>
	<string>Mensa Italia usa la fotocamera per scansionare i QR dei francobolli Tableport.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mensa Italia usa la tua posizione per mostrarti eventi vicini sulla mappa.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>it.mensa.app.spotlight-refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
